#homepage-container {

  .arrow-container {
    position: absolute;
    height: 50px;
    width: 50px;
    @extend %flex-center;
    bottom: 0;
    left: 50%;
    @extend %item-hidden;
    transform: translate(-50%, 0);
    cursor: pointer;
  
    &:hover .arrow-circle {
      transform: scale(1.2) translate(0, 0);
    }
  
    &:hover .fa-chevron-down {
      animation: arrowSlideDown 0.4s ease-in-out infinite;
    }
  
    @keyframes arrowSlideDown {
      to {
        transform: translate(0, 5px);
      }
    }

    @media only screen and (max-width: 960px) {
      bottom: 30px;
    }
  }

  // .arrow-slide-up {
  //   transform: translate(-50%, 10vh);
  // }

  .arrow-circle {
    position: absolute;
    @extend %full-viewport;
    border: 1px solid $bg-accent;
    border-radius: 50%;
    // ----- 
    @extend %item-visible;
    transform: scale(1) translate(0, 0);
    @extend %transition-speed-all;
  }

  .arrow-circle-hidden {
    animation: portfolioArrowCircleHidden .5s ease-in forwards;

    @keyframes portfolioArrowCircleHidden {
      0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1.2) translate(0, 0);
      }
      50% {
        opacity: 1;
        visibility: visible;
        transform: scale(1.2) translate(0, 0);
      }
      100% {
        opacity: 0;
        visibility: hidden;
        transform: scale(2) translate(0, 0);
      }
    }
  }

  .chevron {
    @extend %item-visible;
    @extend %transition-slow-start ;
  }

  .chevron-hidden {
    @extend %item-hidden;
    animation: none;
  }
}