#homepage-container {

  .portfolio-container {
    // position: relative;
    position: absolute;
    height: 100%;
    width: 95%;
    @extend %item-hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(0);
    transition: all 3s ease-in;
    // transition-delay: 2s;
    animation: PortfoliotextShow 1.5s ease-in 13s forwards;

    @media only screen and (max-width: 960px)  {
      width: 100%;
    }
  }

  .portfolio-container-slide-up {
    transform: translateY(-100vh);
  }

  .portfolio-title {
    padding-left: 105px;
    @extend %item-visible;
    transform: translateY(0);
    
    @media only screen and (max-width: 1410px) {
      font-size: $font-size192;
    }

    @media only screen and (max-width: 1250px) {
      font-size: $font-size160;
    }

    @media only screen and (max-width: 1130px) {
      font-size: 8rem;
    }

    @media only screen and (max-width: 800px) {
      padding-left: 60px;
    }

    @media only screen and (max-width: 650px) {
      font-size: 6rem;
    }

    @media only screen and (max-width: 560px) {
      padding-left: 20px;
    }

    @media only screen and (max-width: 480px) {
      font-size: 4rem;
      padding-left: 50px;
    }

    @media only screen and (max-width: 400px) {
      padding-left: 30px;
    }

    @media only screen and (max-width: 350px) {
      padding-left: 10px;
    }
  }

  .portfolio-title-slide-up {
    animation: portfolioTitleSlideUp 2s ease-in forwards;

    @keyframes portfolioTitleSlideUp {
      0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      80% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20vh);
      }
      100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100vh);
      }
    }
  }

  .subtitle-container {
    width: fit-content;
    @extend %item-visible;
    position: relative;
    top: -106px;
    left: 124px;

    @media only screen and (max-width: 1410px) {
      top: -92px;
      left: 121px;
    }

    @media only screen and (max-width: 1250px) {
      top: -77px;
      left: 118px;
    }

    @media only screen and (max-width: 1130px) {
      top: -65px;
      left: 116px;
    }

    @media only screen and (max-width: 800px) {
      left: 70px;
    }

    @media only screen and (max-width: 650px) {
      top: -52px;
      left: 68px;
    }

    @media only screen and (max-width: 480px) {
      top: -36px;
      left: 55px;
    }

    @media only screen and (max-width: 400px) {
      left: 35px;
    }

    @media only screen and (max-width: 350px) {
      left: 15px;
    }
  }

  .subtitle-container-slide-up {
    animation: subtitleContainerSlideUp 1.5s ease-in forwards;

    @keyframes subtitleContainerSlideUp {
      0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      80% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40vh);
      }
      100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100vh);
      }
    }
  }

  .portfolio-arrow {
    transform: translate(-50%, 0);
    animation: PortfoliotextShow 1.5s ease-in 13s forwards;
    @extend %transition-medium-all;
    transition-duration: 2s;
  }

  .portfolio-arrow-slide-up {
    transform: translate(-50%, 10vh);
  }
  
  // .portfolio-arrow-circle {
  //   position: absolute;
  //   @extend %full-viewport;
  //   border: 1px solid $bg-accent;
  //   border-radius: 50%;
  //   ------
  //   @extend %item-visible;
  //   transform: scale(1) translateY(0);
  //   @extend %transition-speed-all;
  // }

  // .portfolio-arrow-circle-hidden {
  //   animation: portfolioArrowCircleHidden .5s ease-in forwards;

  //   @keyframes portfolioArrowCircleHidden {
  //     0% {
  //       opacity: 1;
  //       visibility: visible;
  //       transform: scale(1.2) translateY(0);
  //     }
  //     50% {
  //       opacity: 1;
  //       visibility: visible;
  //       transform: scale(1.2) translateY(0);
  //     }
  //     100% {
  //       opacity: 0;
  //       visibility: hidden;
  //       transform: scale(2) translateY(0);
  //     }
  //   }
  // }

  // .portfolio-chevron {
  //   @extend %item-visible;
  //   @extend %transition-medium-start;
  // }

  // .portfolio-chevron-hidden {
  //   @extend %item-hidden;
  //   animation: none;
  // }
}