#homepage-container {
  .works-container {
    position: absolute;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 $space-small2;
    top: 0;
    left: 0;

    h3 {
      font-size: 10rem;
      text-align: center;
    }
  }

  .projects-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .projects-wrapper {
    position: absolute;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-65%);
  }

  .project-content {
    position: absolute;
    height: 100%;
    width: calc((100% - 4em) / 3);
    border: 1px solid $bg-accent;
    overflow: hidden;
    top: 50%;

    a {
      display: block;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    img {
      width: 100%;
    }
  }

  .gaming-campus-content {
    left: 0;
    transform: translate(0, -50%);
  }

  .restaurant-content {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .atlantis-thepalm-content {
    right: 0;
    transform: translate(0, -50%);
  }

  .website4 {
    right: 0;
    transform: translate(calc(100% + 2em), -50%);
  }

  .website5 {
    right: 0;
    transform: translate(calc(200% + 4em), -50%);
  }

  .website6 {
    right: 0;
    transform: translate(calc(400% + 6em), -50%);
  }

  .underline-content {
    position: absolute;
    width: 100%;
  }

  .underline-top {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .underline-bottom {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .underline {
    position: absolute;
    height: 1px;
    width: 100%;
    background: $bg-accent;
  }

  .scroll-dot {
    position: absolute;
    height: 8px;
    width: 30px;
    background: $bg-light-dark;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .scroll-dot-left {
    left: 50%;
    transform: translate(calc(-150% - 2em), -50%);
    background: $bg-accent;
  }

  .scroll-dot-middle {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scroll-dot-right {
    left: 50%;
    transform: translate(calc(100% + 1em), -50%);
  }
}