@import "./reset";
@import "./placeholder";
@import "./settings";
@import "./layout/introContainer";
@import "./layout/homepageSettings";
@import "./layout/portfolioSection";
@import "./layout/arrowSection";
@import "./layout/navSection";
@import "./layout/aboutSection";
@import "./layout/resumeSection";
@import "./layout/worksSection";
@import "./layout/navMobileSection";